{% extends 'AppBundle::template.html.twig' %}
{% block body %}
	{% include 'AppBundle::Home/notreMission.html.twig' %}
	{% include 'AppBundle::Home/serviceEmploi.html.twig' %}
	{% include 'AppBundle::Home/revolutionSlider.html.twig' %}
	{% include 'AppBundle::Home/publication.html.twig' %}
	{% include 'AppBundle::Home/retrouverSurReseauxSociaux.html.twig' %}
	{# <div id="bla3" ng-controller="homeController">{{'{{text}}'}}</div>
	<div ng-view></div> #}
{% endblock %}
